html,
body {
  padding: 0px;
  margin: 0px;
}

#myCanvas {
  border: 1px solid red;
  width: 100%;
  height: 100%;
}

.scoreStreak {
  order: 2;
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;

  span {
    display: block;
    position: relative;

    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
      z-index: 1;
    }

    &:nth-child(1) {
      padding-right: 2.25rem;
    }

    &:nth-child(2) {
      padding-left: 2.25rem;
    }
  }
}
.currentScore {
  order: 2;
  color: #ffe5ff; /* Adjusted color */
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #6aaaff, 2px 2px 1px #3980ff, 4px 2px 1px #6aaaff,
    3px 3px 1px #3980ff, 5px 3px 1px #6aaaff, 4px 4px 1px #3980ff,
    6px 4px 1px #6aaaff, 5px 5px 1px #3980ff, 7px 5px 1px #6aaaff,
    6px 6px 1px #3980ff, 8px 6px 1px #6aaaff, 7px 7px 1px #3980ff,
    9px 7px 1px #6aaaff;
}

.currentScore span {
  display: block;
  position: relative;
}

.currentScore span:before {
  content: attr(data-text);
  position: absolute;
  text-shadow: 2px 2px 1px #f75aff, -1px -1px 1px #d04fff, -2px 2px 1px #e95aff,
    1px -1px 1px #f75aff;
  z-index: 1;
}

.currentScore span:nth-child(1) {
  padding-right: 2.25rem;
}

.currentScore span:nth-child(2) {
  padding-left: 2.25rem;
}
.chargingBar {
  position: absolute;
  width: 0;
  height: 20px;
  background: green;
  top: 100px;
  left: 10px;
  display: none;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fde9ff;
  font-weight: 900;
  font-size: clamp(1rem, 5vw, 3rem);
  line-height: 1em;
  text-align: center;
  text-shadow: 1px 1px 1px #4af7ff, 0.5px 0.5px 1px #165bfb,
    1px 0.5px 1px #4af7ff, 0.75px 0.75px 1px #165bfb, 1.25px 0.75px 1px #4af7ff,
    1px 1px 1px #165bfb, 1.5px 1px 1px #4af7ff, 1.25px 1.25px 1px #165bfb,
    1.75px 1.25px 1px #4af7ff, 1.5px 1.5px 1px #165bfb, 2px 1.5px 1px #4af7ff,
    1.75px 1.75px 1px #165bfb, 2.25px 1.75px 1px #4af7ff;
}

.closeButton {
  color: #ff0000;
  font-weight: 900;
  font-size: 1.5rem;
  cursor: pointer;
  text-shadow: 1px 1px 1px #4f4f4f, 0.5px 0.5px 1px #1a1a1a,
    1px 0.5px 1px #4f4f4f, 0.75px 0.75px 1px #1a1a1a, 1.25px 0.75px 1px #4f4f4f,
    1px 1px 1px #1a1a1a, 1.5px 1px 1px #4f4f4f, 1.25px 1.25px 1px #1a1a1a,
    1.75px 1.25px 1px #4f4f4f, 1.5px 1.5px 1px #1a1a1a, 2px 1.5px 1px #4f4f4f,
    1.75px 1.75px 1px #1a1a1a, 2.25px 1.75px 1px #4f4f4f;
  background: none;
  border: none;
}

.timer {
  position: absolute;
  boto: 10px;
  right: 10px;
  color: #fde9ff;
  font-weight: 900;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #00ff00, 0.5px 0.5px 1px #00cc00,
    1px 0.5px 1px #00ff00, 0.75px 0.75px 1px #00cc00, 1.25px 0.75px 1px #00ff00,
    1px 1px 1px #00cc00, 1.5px 1px 1px #00ff00, 1.25px 1.25px 1px #00cc00,
    1.75px 1.25px 1px #00ff00, 1.5px 1.5px 1px #00cc00, 2px 1.5px 1px #00ff00,
    1.75px 1.75px 1px #00cc00, 2.25px 1.75px 1px #00ff00;
}

